.venv/
__pycache__/
*.pyc
.DS_Store
.coverage
mlruns/
mlartifacts/
checkpoints/
data/
.pytest_cache/
logs_gpu/
notebooks/training_curves.png
notebooks/.ipynb_checkpoints/
notebooks/test.ipynb
notebooks/test-checkpoint.ipynb
training_curves.png
test.ipynb
test-checkpoint.ipynb
